{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Planicorn{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="body">

    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-brand">
            <img class="navbar-logo" src="{% static 'images/planicorn-logo.png' %}" alt="Planicorn Logo">
            <a href="/" class="navbar-logo">Planicorn</a>
        </div>
        <div class="navbar-links">
            {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="navbar-link">Dashboard</a>
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                     {% csrf_token %}
                        <button type="submit" class="button-primary">Sign Out</button>
                    </form>
            {% else %}
                <a href="#about" class="navbar-link">About</a>
                <a href="{% url 'login' %}" class="navbar-link">Sign In</a>
                <a href="{% url 'signup' %}" class="navbar-link">Sign Up</a>

            {% endif %}
        </div>
    </nav>

    <!-- Main content -->
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        © 2025 Planicorn. All rights reserved.
    </footer>

</body>
</html>
